.sidebar-section {
  display: flex;
  background-color: #ffebcd;
}

.sidebar {
  height: 100vh;
  background-color: teal;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s;
}

.sidebar-toggle {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle-icons {
  display: flex;
  cursor: pointer;
  transition: flex-direction 0.3s;
}

/* Expanded state styles */
.sidebar-toggle-icons.expanded {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* Collapsed state styles */
.sidebar-toggle-icons.collapsed {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-toggle-icons p svg {
  background-color: lightgray;
  color: black;
  margin-top: 30px;
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 98%;
  }

  .sidebar-toggle {
    width: 60px;
  }

  .sidebar-toggle-icons p svg {
    margin-top: 20px;
  }

  .sidebar-section {
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    width:98%;
  }

  .container {
    margin-left: 60px; /* Adjust this value if needed to prevent content overlap */
  }
}
